n8n/low_stock_alert.json
{
  "name": "Low Stock Alert",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "70691c65-dc14-4340-bf4e-0726238fe0fa",
              "leftValue": "={{ $json.body.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        96
      ],
      "id": "d736e23c-87e3-470a-9e3f-787795bc2448",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        -32
      ],
      "id": "f19dbf3a-d4d5-4939-a84d-68d39dd85dc1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "vendor-email@gmail.com",
        "subject": "Low Stock Alert ",
        "html": "=<h2>Low Stock Warning — OmniCart</h2>\n<p>Your product <strong>{{ $json.product_name }}</strong> is running low.</p>\n<p>Current stock: <strong>{{ $json.stock_qty }} units</strong></p>\n<p>Store: {{ $json.vendor_store }}</p>\n<p>Please restock soon to avoid missed orders.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        96,
        160
      ],
      "id": "767a18fd-858a-459d-bae3-b92bc71a83a7",
      "name": "Send an Email",
      "webhookId": "6c327d57-5dff-4119-be74-8b04c0c3614d",
      "credentials": {
        "smtp": {
          "id": "LIA9MHkcKUfdsjSr",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-low-stock",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "id": "27e39a3c-96e3-469d-9e05-f119796ad011",
      "name": "Webhook",
      "webhookId": "86be1a33-37e8-4ffc-95fc-61968eba3614"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.body.low_stock_products;\nreturn items.map(product => ({ json: product }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -32
      ],
      "id": "443bdf60-1571-4059-8aad-6bc943727698",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52cacd8d-2650-4f18-a146-3f573706c317",
  "meta": {
    "instanceId": "289fcbba05dd6274840c67285084e3eddbb74275aa343ecaac13e95464194c30"
  },
  "id": "wR1hnMQxrLCGRiFN",
  "tags": []
}